@import url(https://fonts.googleapis.com/css?family=Paytone+One|PT+Sans:400,700,400italic);

body {
	background: #1a1a1a;
	color: #ccc;
	font-family: "PT Sans", helvetica, arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	padding: 0
}

a:link,
a:visited {
	color: #9df
}

a:active,
a:hover {
	color: #6cf
}

em {
	font-style: italic
}

strong {
	font-weight: 700
}

aside,
footer,
header,
section {
	display: block
}

header {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 740px
}

header h1 {
	display: inline-block;
	*display: inline;
	background: transparent url(/img/gorilla-icon-64.png) no-repeat 0 10px;
	color: #fb0;
	font-family: "Paytone One", sans-serif;
	font-size: 64px;
	font-weight: 400;
	line-height: 1em;
	margin: 0;
	padding: 0 0 20px 74px;
	zoom: 1;
	text-shadow: #080808 -3px 3px 0
}

header h1 a:link,
header h1 a:visited {
	text-decoration: none;
	color: #fb0
}

header h1 a:hover,
header h1 a:active {
	color: #ffc933
}

header h1 a:link span,
header h1 a:visited span {
	color: #ccc
}

header h1 a:hover span,
header h1 a:active span {
	color: #e6e6e6
}

header nav ul {
	border-top: 3px solid #333;
	font-size: 14px;
	margin: 0 0 25px;
	text-align: right;
	text-transform: lowercase
}

header nav li {
	display: inline-block;
	*display: inline;
	margin: 0 0 0 3px;
	padding: 0;
	zoom: 1
}

header nav li a {
	display: inline-block;
	*display: inline;
	zoom: 1
}

header nav a:link,
header nav a:visited {
	background: #262626;
	color: gray;
	padding: 7px;
	text-decoration: none;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	-khtml-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px
}

header nav a:hover,
header nav a:active,
header nav li.active a {
	color: #ccc;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #666666));
	background-image: -webkit-linear-gradient(#333333, #666666);
	background-image: -moz-linear-gradient(#333333, #666666);
	background-image: -o-linear-gradient(#333333, #666666);
	background-image: -ms-linear-gradient(#333333, #666666);
	background-image: linear-gradient(#333333, #666666)
}

.main {
	line-height: 1.6em;
	width: 740px;
	margin: 0 auto
}

.main h1,
.main h2,
.main h3,
.main h4 {
	color: #fb0;
	font-family: "Paytone One", sans-serif;
	font-weight: 400;
	text-shadow: #080808 -2px 2px 0
}

.main h2 {
	border-top: 1px dashed #333;
	padding-top: 12px
}

footer {
	color: gray;
	border-top: 3px solid #333;
	font-size: 13px;
	margin: 25px auto;
	padding: 0;
	text-align: center;
	width: 740px
}

.error {
	margin: 100px auto 0;
	width: 500px;
	text-align: center
}

.error h1 {
	color: #fb0;
	font-family: "Paytone One", sans-serif;
	font-size: 48px;
	font-weight: 400;
	line-height: 1em;
	margin: 0;
	padding: 0;
	text-shadow: #080808 -3px 3px 0
}

code,
pre {
	border-left: 3px solid #fb0;
	color: #f2f2f2;
	font-family: "Consolas", "Deja Vu Sans Mono", "Lucida Console", "Bitstream Vera Sans Mono", monospace;
	font-size: 14px;
	line-height: 1.6em;
	overflow: auto;
	padding: 10px;
	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #404040), color-stop(100%, #1a1a1a));
	background-image: -webkit-linear-gradient(left, #404040, #1a1a1a);
	background-image: -moz-linear-gradient(left, #404040, #1a1a1a);
	background-image: -o-linear-gradient(left, #404040, #1a1a1a);
	background-image: -ms-linear-gradient(left, #404040, #1a1a1a);
	background-image: linear-gradient(left, #404040, #1a1a1a)
}

code {
	display: inline-block;
	*display: inline;
	zoom: 1
}

span.ln {
	font-size: 12px;
	color: #777777
}

span.comment {
	color: #002090;
	color: #808080;
	color: #FFE499
}

span.highlight {
	background: #FF9900;
	font-weight: 700
}

span.highlight-comment {
	background: #FF9900;
	font-weight: 700;
	color: #002090
}

span.selection {
	background: #FFFF00;
	background: #fb0;
	color: #1a1a1a
}

span.selection-comment {
	color: #002090;
	background: #FFFF00
}

span.selection-highlight {
	background: #FF9900;
	font-weight: 700
}

span.selection-highlight-comment {
	background: #FF9900;
	font-weight: 700;
	color: #002090
}

span.alert {
	color: #D00000
}

#nav table,
table.layout {
	width: 100%;
	font-size: 14px
}

#nav table dd {
	margin: 0 0 0 2em
}

#nav table td,
table.layout td {
	vertical-align: top
}

#nav table,
#nav {
	border-collapse: collapse;
	border-top: 3px solid #fb0;
	border-bottom: 1px solid #fb0
}

#nav table td {
	width: 50%;
	padding: 0 1em;
	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #262626), color-stop(100%, #1a1a1a));
	background-image: -webkit-linear-gradient(left, #262626, #1a1a1a);
	background-image: -moz-linear-gradient(left, #262626, #1a1a1a);
	background-image: -o-linear-gradient(left, #262626, #1a1a1a);
	background-image: -ms-linear-gradient(left, #262626, #1a1a1a);
	background-image: linear-gradient(left, #262626, #1a1a1a)
}

#nav {
	background: #262626;
	padding: 20px 0
}

.navtop a {
	color: #404040;
	font-size: 13px;
	font-weight: 400 !important;
	float: right;
	text-decoration: none;
	text-shadow: none
}

.navtop a:hover {
	color: #ccc
}

#gorilladoc h1 {
	margin-bottom: 30px
}

#gorilladoc h2,
#gorilladoc h3,
#gorilladoc h4,
#gorilladoc h5,
#gorilladoc h6 {
	border-top: 1px dashed #333;
	font-family: "Consolas", "Deja Vu Sans Mono", "Lucida Console", "Bitstream Vera Sans Mono", monospace;
	padding-top: 16px;
	text-shadow: #080808 -2px 2px 0
}

table td,
table th {
	border-top: 1px dashed #333;
	padding: 3px 5px;
	text-align: left;
	vertical-align: top
}

table th {
	border-top: 0
}
