@import url(https://fonts.googleapis.com/css?family=Paytone+One|PT+Sans:400,700,400italic);

body {
	font-family: "PT Sans", helvetica, arial, sans-serif;
	font-size: 1em;
}

em {
	font-style: italic
}

strong {
	font-weight: 700
}

aside,
footer,
header,
section {
	display: block
}

nav.navbar {
	background-color: #1a1a1a !important;
}

nav.navbar a,
nav.navbar a:link,
nav.navbar a:active,
nav.navbar a:visited {
	font-family: "Paytone One", sans-serif;
	color: #fb0;
}

a.navbar-brand {
	color: #fb0;
	font-family: "Paytone One", sans-serif;
	font-size: 3em;
	font-weight: 400;
}

a.navbar-brand span {
	color: #e6e6e6
}

li.nav-item a {
	font-size: 1.5em;
}

li.nav-item a:hover {
	color: #e6e6e6;
}

.btn-warning {
	font-weight: 700;
}

a.btn-warning:hover {
	background-color: #e6e6e6;
	border-color: #e6e6e6;
}

h1,
h2,
h3,
h4 {
	color: #fb0;
	font-family: "Paytone One", sans-serif;
	font-weight: 400;
}

footer {
	color: gray;
	border-top: 1px solid #333;
	font-size: 13px;
	margin: 25px auto;
	padding: 0;
	text-align: center;
}

.error {
	margin: 100px auto 0;
	width: 500px;
	text-align: center
}

.error h1 {
	color: #fb0;
	font-family: "Paytone One", sans-serif;
	font-size: 48px;
	font-weight: 400;
	line-height: 1em;
	margin: 0;
	padding: 0;
}

code,
pre {
	border-left: 3px solid #fb0;
	color: #f2f2f2;
	font-family: "Consolas", "Deja Vu Sans Mono", "Lucida Console", "Bitstream Vera Sans Mono", monospace;
	font-size: 14px;
	line-height: 1.6em;
	overflow: auto;
	padding: 10px;
	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #404040), color-stop(100%, #1a1a1a));
	background-image: -webkit-linear-gradient(left, #404040, #1a1a1a);
	background-image: -moz-linear-gradient(left, #404040, #1a1a1a);
	background-image: -o-linear-gradient(left, #404040, #1a1a1a);
	background-image: -ms-linear-gradient(left, #404040, #1a1a1a);
	background-image: linear-gradient(left, #404040, #1a1a1a)
}

code {
	display: inline-block;
	zoom: 1
}

span.ln {
	font-size: 12px;
	color: #777777
}

span.comment {
	color: #002090;
	color: #808080;
	color: #FFE499
}

span.highlight {
	background: #FF9900;
	font-weight: 700
}

span.highlight-comment {
	background: #FF9900;
	font-weight: 700;
	color: #002090
}

span.selection {
	background: #FFFF00;
	background: #fb0;
	color: #1a1a1a
}

span.selection-comment {
	color: #002090;
	background: #FFFF00
}

span.selection-highlight {
	background: #FF9900;
	font-weight: 700
}

span.selection-highlight-comment {
	background: #FF9900;
	font-weight: 700;
	color: #002090
}

span.alert {
	color: #D00000
}

#nav table,
table.layout {
	width: 100%;
	font-size: 14px
}

#nav table dd {
	margin: 0 0 0 2em
}

#nav table td,
table.layout td {
	vertical-align: top
}

#nav table,
#nav {
	border-collapse: collapse;
	border-top: 3px solid #fb0;
	border-bottom: 1px solid #fb0
}

#nav table td {
	width: 50%;
	padding: 0 1em;
	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #262626), color-stop(100%, #1a1a1a));
	background-image: -webkit-linear-gradient(left, #262626, #1a1a1a);
	background-image: -moz-linear-gradient(left, #262626, #1a1a1a);
	background-image: -o-linear-gradient(left, #262626, #1a1a1a);
	background-image: -ms-linear-gradient(left, #262626, #1a1a1a);
	background-image: linear-gradient(left, #262626, #1a1a1a)
}

#nav {
	background: #262626;
	padding: 20px 0
}

.navtop a {
	color: #404040;
	font-size: 13px;
	font-weight: 400 !important;
	float: right;
	text-decoration: none;

}

.navtop a:hover {
	color: #ccc
}

#gorilladoc h1 {
	margin-bottom: 30px
}

#gorilladoc h2,
#gorilladoc h3,
#gorilladoc h4,
#gorilladoc h5,
#gorilladoc h6 {
	border-top: 1px dashed #333;
	font-family: "Consolas", "Deja Vu Sans Mono", "Lucida Console", "Bitstream Vera Sans Mono", monospace;
	padding-top: 16px;
}

table td,
table th {
	border-top: 1px dashed #333;
	padding: 3px 5px;
	text-align: left;
	vertical-align: top
}

table th {
	border-top: 0
}


.recent-posts .posts .post {
	margin-bottom: 45px;
}

.flat .post {
	margin-bottom: 45px;
}

.post-header {
	display: flex;
}

.post-header .meta .date {
	margin-right: 19px;
	width: 75px;
	text-align: center;
}

.post-header .meta .date .day {
	color: #e6e6e6;
	font-family: "Paytone One", sans-serif;
	font-weight: 700;
	line-height: 0.45em;
	font-size: 3em;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.post-header .meta .date .rest {
	display: block;
	font-size: 0.80em;
	font-family: "Roboto Slab Regular", serif;
	font-weight: 700;
}

.post-header h3 a {
	color: #fb0;
	font-family: "Paytone One", sans-serif;
	text-decoration: none;
}

.markdown {
	overflow: hidden;
}

.post .draft-label {
	color: var(--bq-color);
	text-decoration: underline;
	padding: 2px 4px;
	margin-left: 6px;
	font-size: 1.4rem;
}

.post .tags a {
	display: inline-block;
	border: 1px solid;
	border-radius: 3px;
	padding: 0px 6px;
	line-height: 20px;
	font-size: 0.85em;
	text-decoration: none;
	margin: 0 10px 0 0;
}

.tags p {
	margin: 10px 0 10px 0;
}

.post .tags a:hover {
	border: 1px solid var(--bg-color);
}

.post ul li {
	margin-bottom: 10px;
}

.post ul li p {
	display: inline;
}

.list .posts .post-header .meta {
	margin-bottom: 0;
}

.post-meta {
	color: var(--hover-color);
	font-size: 14px;
	font-style: italic;
	margin: 0 0 10px;
}

.description {
	margin: 0;
}

.pagination {
	margin: 0;
	padding: 0;
	text-align: left;
	display: flex;
	justify-content: space-between;
}

.pagination li {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.pagination .page-prev {
	margin-right: 20px;
	padding-right: 20px;
}

.pagination .page-item.page-prev {
	text-align: left;
}

.pagination .page-item.page-next {
	text-align: right;
}

.page-title {
	font-weight: bold;
	font-family: "Roboto Slab Regular", serif;
	margin: -10px 0 30px 0;
}

.tag-cloud {
	margin-top: 20px;
	line-height: normal;
	text-align: center;
}

.tag-cloud a {
	margin-right: 15px;
}

.author {
	font-size: 1.2rem;
	margin-bottom: 10px;
}

.tags {
	text-align: center;
	padding: 5px 0 5px 0;
}

.clearit {
	clear: both;
}

.termsfloating_right {
	float: right;
	width: 80%;
}

.taxosfloating_left {
	float: left;
	width: 20%;
}

ul.flat {
	margin: 0;
	padding: 0;
}

ul.flat li {
	list-style: none;
	margin-left: 0;
}
