{{ define "main" }}

<h2 class="pb-2 border-bottom">What is Gorilla web toolkit?</h2>
<p class="lead mt-3">
	A helpful toolkit for the Go programming language that provides useful, composable packages for writing HTTP-based applications.
</p>

<h2 class="pb-2 border-bottom">Packages</h2>
<div class="container px-4 py-2" id="packages-grid">


	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-3 text-light">
		<div class="col d-flex align-items-start">
			<div class="border border-1 rounded p-2 bg-dark h-100 position-relative">
				<h4 class="fw-bold mb-1">gorilla/mux</h4>
				<p>implements a request router and dispatcher for matching incoming requests to their respective handler.</p>
				<div class="text-end position-absolute bottom-0 end-0 mb-2 me-2">
					<a href="https://github.com/gorilla/mux" target="_blank" class="btn btn-warning btn-sm">
						Learn more
					</a>
				</div>
			</div>
		</div>
		<div class="col d-flex align-items-start">
			<div class="border border-1 rounded p-2 bg-dark h-100 position-relative">
				<h4 class="fw-bold mb-1">gorilla/reverse</h4>
				<p>provides interfaces to match and extract variables from an HTTP request and build URLs for registered routes.</p>
				<div class="text-end position-absolute bottom-0 end-0 mb-2 me-2">
					<a href="https://github.com/gorilla/reverse" target="_blank" class="btn btn-warning btn-sm">
						Learn more
					</a>
				</div>
			</div>
		</div>
		<div class="col d-flex align-items-start">
			<div class="border border-1 rounded p-2 bg-dark h-100 position-relative">
				<h4 class="fw-bold mb-1">gorilla/rpc</h4>
				<p>is a foundation for RPC over HTTP services, providing access to the exported methods of an object through HTTP requests.</p>
				<div class="text-end position-absolute bottom-0 end-0 mb-2 me-2">
					<a href="https://github.com/gorilla/rpc" target="_blank" class="btn btn-warning btn-sm">
						Learn more
					</a>
				</div>
			</div>
		</div>
		<div class="col d-flex align-items-start">
			<div class="border border-1 rounded p-2 bg-dark h-100 position-relative">
				<h4 class="fw-bold mb-1">gorilla/schema</h4>
				<p>converts structs to and from form values.</p>
				<div class="text-end position-absolute bottom-0 end-0 mb-2 me-2">
					<a href="https://github.com/gorilla/schema" target="_blank" class="btn btn-warning btn-sm">
						Learn more
					</a>
				</div>
			</div>
		</div>
		<div class="col d-flex align-items-start">
			<div class="border border-1 rounded p-2 bg-dark h-100 position-relative">
				<h4 class="fw-bold mb-1">gorilla/securecookie</h4>
				<p>encodes and decodes authenticated and optionally encrypted cookie values.</p>
				<div class="text-end position-absolute bottom-0 end-0 mb-2 me-2">
					<a href="https://github.com/gorilla/securecookie" target="_blank" class="btn btn-warning btn-sm">
						Learn more
					</a>
				</div>
			</div>
		</div>
		<div class="col d-flex align-items-start">
			<div class="border border-1 rounded p-2 bg-dark h-100 position-relative">
				<h4 class="fw-bold mb-1">gorilla/sessions</h4>
				<p>provides cookie and filesystem sessions and infrastructure for custom session backends.</p>
				<div class="text-end position-absolute bottom-0 end-0 mb-2 me-2">
					<a href="https://github.com/gorilla/sessions" target="_blank" class="btn btn-warning btn-sm">
						Learn more
					</a>
				</div>
			</div>
		</div>
		<div class="col d-flex align-items-start">
			<div class="border border-1 rounded p-2 bg-dark h-100 position-relative">
				<h4 class="fw-bold mb-1">gorilla/websocket</h4>
				<p>provides a complete and tested implementation of the WebSocket protocol.</p>
				<div class="text-end position-absolute bottom-0 end-0 mb-2 me-2">
					<a href="https://github.com/gorilla/websocket" target="_blank" class="btn btn-warning btn-sm">
						Learn more
					</a>
				</div>
			</div>
		</div>
		<div class="col d-flex align-items-start">
			<div class="border border-1 rounded p-2 bg-dark h-100 position-relative">
				<h4 class="fw-bold mb-1">gorilla/csrf</h4>
				<p>is an HTTP middleware library that provides cross-site request forgery (CSRF) protection.</p>
				<div class="text-end position-absolute bottom-0 end-0 mb-2 me-2">
					<a href="https://github.com/gorilla/csrf" target="_blank" class="btn btn-warning btn-sm">
						Learn more
					</a>
				</div>
			</div>
		</div>
		<div class="col d-flex align-items-start">
			<div class="border border-1 rounded p-2 bg-dark h-100 position-relative">
				<h4 class="fw-bold mb-1">gorilla/handlers</h4>
				<p>is a collection of handlers (aka "HTTP middleware") for use with Go's net/http package</p>
				<div class="text-end position-absolute bottom-0 end-0 mb-2 me-2">
					<a href="https://github.com/gorilla/handlers" target="_blank" class="btn btn-warning btn-sm">
						Learn more
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<h2 class="pb-2 border-bottom">Installation</h2>
<p>Run "go get" pointing to a package. For example, to install gorilla/mux:</p>
<pre>$ go get github.com/gorilla/mux</pre>
<p>Or clone a <a href="https://github.com/gorilla/" target="_blank">repository</a> and use the source code directly:</p>
<pre>$ git clone https://github.com/gorilla/mux.git</pre>

<h2 class="pb-2 border-bottom">Community</h2>
<div class="container px-4 py-2" id="packages-grid">


	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-2 g-2 py-3 text-light">
		<div class="col d-flex align-items-start">
			<div class="border border-1 rounded p-2 bg-dark h-100 position-relative">
				<h4 class="fw-bold mb-1">Mailing List</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fermentum posuere urna nec tincidunt praesent semper feugiat.</p>
				<div class="text-end">
					<a href="https://groups.google.com/g/gorilla-web" target="_blank" class="btn btn-warning btn-sm">
						Join the Community
					</a>
				</div>
			</div>
		</div>
		<div class="col d-flex align-items-start">
			<div class="border border-1 rounded p-2 bg-dark h-100 position-relative">
				<h4 class="fw-bold mb-1">GitHub Discussions</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fermentum posuere urna nec tincidunt praesent semper feugiat.</p>
				<div class="text-end">
					<a href="https://github.com/orgs/gorilla/discussions" target="_blank" class="btn btn-warning btn-sm">
						Join the Discussion
					</a>
				</div>
			</div>
		</div>

	</div>
</div>

<h2 class="pb-2 border-bottom">License</h2>
<p>Gorilla is licensed under <a href="https://opensource.org/license/bsd-3-clause/">The 3-Clause BSD License</a>.</p>


{{ end }}
