<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img src="/img/gorilla-icon-64.png" alt="Logo" width="64" height="64" class="d-inline-block align-text-top">
			Gorilla <span class="text-light">web toolkit</span>
		</a>
		<ul class="nav justify-content-end" style="--bs-scroll-height: 100px;">
			<li class="nav-item">
				<a class="nav-link" href="/blog">Blog</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" target="_blank" href="https://github.com/gorilla">Source</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" target="_blank" href="#community">Community</a>
			</li>
		</ul>
	</div>
</nav>
