<header>
	<h1><a href="/">Gorilla <span>web toolkit</span></a></h1>
	<nav>
		<ul>
			<li class="active">
				<a href="/" title="home of the fearless gorilla, the golang web toolkit">Home</a>
			</li>
			<!--<li>
		<a href="/pkg/" title="api documentation">Packages</a>
	  </li>
	  -->
			<li>
				<a href="https://github.com/gorilla/" target="_blank" title="repository and issue tracker">Source</a>
			</li>
			<li>
				<a href="https://groups.google.com/group/gorilla-web" target="_blank" title="mailing list">Community</a>
			</li>
			<!--

	  -->
		</ul>
	</nav>
</header>
