<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Gorilla is a web toolkit for the Go programming language">
	<meta name="keywords" content="Go, Golang, Gorilla Web Toolkit, Web Toolkit">
	<meta name="author" content="Gorilla Web Toolkit Maintainers">


	<!--<link rel="apple-touch-icon" href="/img/apple-touch-icon.png" sizes="180x180">-->
	<link rel="icon" href="/img/gorilla-icon-32.png" sizes="32x32" type="image/png">
	<link rel="icon" href="/img/gorilla-icon-16.png" sizes="16x16" type="image/png">
	<link rel="icon" href="/img/favicon.ico">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" media="screen, projection" href="/css/screen.css">

	<title>Gorilla, the golang web toolkit</title>
</head>
